.container {
    display: flex;
    //flex-flow: wrap;
    //justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container-list-guests {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
}
  
.item-list {
    flex: 1 1 calc(33.333% - 32px); 
    box-sizing: border-box; 
}

.list-guests {
    //display: inline-grid;
    padding: 20px;
}

  
.footer {
    padding: 10px; 
    color: var(--light-gray);
    text-align: center; 
    position: sticky; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--light-dark-blue); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.footer-total {
    font-weight: 800;
}