<div class="container">
    <!-- Mensajes de éxito y error -->
    <div *ngIf="message && showSuccessMessage" class="alert alert-success">
        {{ message }}
    </div>
    <div *ngIf="message && showErrorMessage" class="alert alert-danger">
        {{ message }}
    </div>
    <div class="container-list-guests">
        <div class="list-guests" *ngFor="let guest of guests">
            <div class="item-list">
                <app-card [guest]="guest" (successMessage)="setSuccessMessage($event)" 
                    (errorMessage)="setErrorMessage($event)"></app-card>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-total">Total</div> ${{calculatePrice()}}
</div>