.container {
    display: flex;
    //flex-flow: wrap;
    //justify-content: center;
    flex-direction: column;
}

.container-list-guests {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.list-guests {
    //display: inline-grid;
    padding: 20px;
}

.create-guest {
    margin-top: auto;
    margin-left: auto;
}

.creation-button {
    border: 0;
    background: none;
}