<div class="dropdown">
    <button class="btn dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="dropdown-button-content">
            <img src="assets/user-circle-thin.svg" width="40px" height="40px">
            <div class="user-name">{{userName}}</div>
        </div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <a class="dropdown-item" routerLink="/"  (click)="changeSectionTitle('Invitados', '')">Invitados</a>
      <a class="dropdown-item" routerLink="/confirmed-guests" (click)="changeSectionTitle('Confirmados', 'confirmed-guests')">Confirmados</a>
      <a class="dropdown-item">Salir</a>
    </div>
  </div>

  <!--div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        <img src="assets/user-circle.png" width="40px" height="40px">
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Invitados</a>
      <a class="dropdown-item" href="#">Confirmados</a>
      <a class="dropdown-item" href="#">Salir</a>
    </div>
  </div-->
