<div class="container">
    <!-- Mensajes de éxito y error -->
    <div *ngIf="message && showSuccessMessage" class="alert alert-success">
        {{ message }}
    </div>
    <div *ngIf="message && showErrorMessage" class="alert alert-danger">
        {{ message }}
    </div>
    <div class="container-list-guests">
        <div class="list-guests" *ngFor="let guest of guests">
            <div class="item-list">
                <app-card [guest]="guest" (successMessage)="setSuccessMessage($event)" 
                (errorMessage)="setErrorMessage($event)"></app-card>
            </div>
        </div>
    </div>
    <div class="create-guest">
        <button class="creation-button" (click)="onCreateGuest()">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.13,104.13,0,0,0,128,24Zm40,112H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32a8,8,0,0,1,0,16Z"></path></svg>    
        </button>
    </div>
</div>