<div class="edit-container">
    <div class="row row-container">
        <div class="col img">
            <img src="assets/user-circle.png" width="180px" height="180px">
        </div>
        <div class="col">
            Datos personales
            <div class="row">
                <div class="col">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="inputLastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputLastName">
                </div>
            </div>
            Datos Alimenticios
            <div class="row">
                <div class="col">
                    Gramos de carne a consumir.
                    <div class="row">
                        <div class="col">
                            <label for="grCarne" class="form-label">Gramos</label>
                            <input type="text" class="form-control" id="grCarne">
                        </div>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col">
                    Ensalada
                    <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    Lechuga
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Tomate
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Cebolla
                                    </label>
                                </div>
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>