.col.img {
    flex: 0 0 0%;
}

.row-container {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.row-container-inside {
    display: flex;
    flex-direction: column;
}

.edit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*
.col.container-button {
    margin-left: auto;
    display: flex;
}
*/
.submit-button {
    display: flex;
    margin-left: auto;
}
